.title {
	font-size: 4rem;
	margin: 0;
	text-align: center;
	color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

b {
	font-weight: bold;
}

.h2Bold {
	font-weight: 1000;
}

.h2NotBold {
	font-weight: 500;
}

h1 {
	color: #e1e1e1;
	font-size: 2.5em;
	margin-bottom: 20px;
}

h2 {
	color: #dbdbdb;
	font-size: 2em;
	margin-bottom: 20px;
}

h3 {
	color: #cccccc;
	font-size: 1.5em;
	margin-bottom: 20px;
}

h4 {
	margin-top: 20px;
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #cccccc;
}

p {
	color: #c3c3c3;
}

html {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	overflow-x: hidden;
	--errorPageColor: #040404;
	font-family: "Monda", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
}

footer {
	position: absolute;
	text-align: center;
	width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #212121;
	color: #ffffff;
	z-index: 999;
}

.centeredHeader {
	text-align: center;
	margin-bottom: 10px;
}

.btn {
	background: #253924;
	border-radius: 15px;
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	z-index: 2;
	width: fit-content;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background: #1b291a;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.errorPageContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 100vw;
}
