nav {
	top: 0;
	position: fixed;
	z-index: 3;
	display: block;
	margin: 10px;
	margin-inline: 40px;
	width: calc(100vw - 80px);
	height: 50px;
	border-radius: 50px;
	background: #253924;
}

.navContent {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 1024px;
	padding-top: 0;
	padding-bottom: 0;
	z-index: 2;
}

.navList {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navLink {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ebebeb;
	padding: 0 calc(8px / 1);
	height: 44px;
	text-decoration: none;
}

.navLink img {
	height: 30px;
	width: 100%;
	transition: all 0.3s ease;
}

.navLink:hover img {
	height: 35px;
	width: 100%;
	transition: all 0.3s ease;
}
